/*Styling for generated data item */
body {
    padding-top: 100px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.blockText {
    font-size: 10px;
    font-family: Courier;
}


b.parityTrue {
    color: #60B054;
}

b.parityFalse {
    color: #B05454;
}


div.blockText {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    font-family: Courier;
    text-align: center;
}


h1 {
    font-family: Courier;
}