
label {
    margin-right: 15px;
    width: 130px;
}

/*[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}*/

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input, select {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 130px;
}

.inputDate {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 180px;
}

select {
    height: 2.375rem;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    height: 2.375rem;
}

.courseNameStyle {
    font-weight: 600; /* bold */
}

.coursePlaceStyle {
    font-style: italic;
}

.courseTypeStyle {
}

.teacherFullNameStyle {
    font-style: italic;
}

.numberWeekStyle {
}

button {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.calendarIcon {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat
}

.table, .table-striped {
    margin-top: 25px;
}

.infoMessage {
    margin-top: 20px;
    text-align: center;
}

.combinedGroupStyle {
    /*    font-weight: 600; 
    font-size: 10px;
    */
}

.popup {
    height: 20px;
}

.button {

}

.rightArrow {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.leftArrow {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

.infoIcon {
    background: url(https://image.flaticon.com/icons/svg/1/1176.svg) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.iconDownload {
  /*  background: url(https://image.flaticon.com/icons/svg/152/152555.svg) no-repeat; */
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 8px;
    display: inline;
    vertical-align: baseline;
}

.iconLoad {
   /* background: url(https://image.flaticon.com/icons/svg/60/60961.svg) no-repeat; */
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 8px;
    display: inline;
    vertical-align: baseline;
}


.bottom
{
    margin-top: 20px;
}
