/*Styling for generated data item */
body {
    padding-top: 100px
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.blockText {
    font-size: 10px;
    font-family: Courier;
}


div.blockText {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    font-family: Courier;
    text-align: center;
}

h1 {
    font-family: Courier;
}

div.parityTrue {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    font-family: Courier;
    text-align: center;
}

div.parityTrue b {
    color: #60B054;
}

div.parityFalse {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    font-family: Courier;
    text-align: center;
}

div.parityFalse b {
        color: #B05454;
    }
