<!DOCTYPE HTML>
<html>
	<head>
		<title>Добро пожаловать - Student Assistant!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
<body class="is-preload">

<!-- Home -->
<article id="top" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                <span class="image fit"><img src="images/logo.png" alt=""/></span>
            </div>
            <div class="col-8 col-7-large col-12-medium">
                <header>
                    <h1>Приветствуем, <strong>гость</strong>!</h1>
                </header>
                <p>
                    Веб-сервис <strong>Student Assistant</strong> является <a href="https://en.wikipedia.org/wiki/Open-source_software">open source</a> проектом.
                    Разработан с целью предоставить удобный и гибкий способ контроля за учебным расписанием.
                </p>
                <!--<a href="#work" class="button large scrolly">Подробнее</a>-->
            </div>
        </div>
    </div>
</article>

<!-- Work -->
<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Что умеет <strong>Student Assistant</strong>?</h2>
            <p>Мы регулярно улучшаем текущий функционал и добавляем новый.
                Далее указаны краткие описания основных возможностей сервиса.</p>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-comments-o"></span>
                    <h3>Данные о дне недели</h3>
                    <p>Сервис предоставляет возможность получить данные о текущем дне, которые необходимы для обучения.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-camera-retro"></span>
                    <h3>Расписание</h3>
                    <p>Student Assistant предоставляет возможность вести расписание как индивидуальное, так и групповое.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-thumbs-o-up"></span>
                    <h3>Учёт посещаемости</h3>
                    <p>Наш сайт позволяет контролировать посещаемость учебных предметов, а затем делать на ее основе отчёты.</p>
                </section>
            </div>
        </div>
    </div>
</article>

<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Какие технологии использует <strong>Student Assistant</strong>?</h2>
            <p>Сервис состоит из множества технологий, что позволяет привлечь внимание разных по своим предпочтениям и возможностям разработчиков.</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/aspnetcore.png" alt=""/></a>
                    <h3><a href="https://docs.microsoft.com/ru-ru/aspnet/core/?view=aspnetcore-2.0">ASP.NET Core</a></h3>
                    <p>Ключевой частью нашего сервиса является технология от Microsoft - ASP.NET Core 2.0</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/angular.png" alt=""/></a>
                    <h3><a href="https://angular.io/">Angular</a></h3>
                    <p>Frontend нашего сервиса целиком написан на JavaScript фрейморке - Angular.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/ts.png" alt=""/></a>
                    <h3><a href="https://www.typescriptlang.org/">TypeScript</a></h3>
                    <p>В качестве основного языка для клиенской части используется TypeScript.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/azure.png" alt=""/></a>
                    <h3><a href="https://azure.microsoft.com/">Azure</a></h3>
                    <p>Сайт развернут на серверах Azure.
                        Удобный интерфейс позволяет легко администрировать сервис.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/teamcity.png" alt=""/></a>
                    <h3><a href="https://jetbrains.ru/products/teamcity/">TeamCity</a></h3>
                    <p>В качестве многофункционального сервера непрерывной интеграции используется TeamCity.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/trello.png" alt=""/></a>
                    <h3><a href="https://trello.com/">Trello</a></h3>
                    <p>Для контроля процесса разработки используется Agile методология - kanban доска в сервисе Trello.</p>
                </article>
            </div>
        </div>
    </div>
</article>

<!-- Contact -->
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Есть вопрос или предложение?</h2>
            <p>Вы можете связаться с нами с помощью формы для обратной связи.</p>
        </header>
        <div class="row">
            <div class="col-12">
                <form method="post" action="#">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text" name="name" id="name" placeholder="Ваше имя"/>
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="col-12">
                            <input type="text" name="subject" id="subject" placeholder="Тема"/>
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Текст сообщения"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Отправить письмо"/></li>
                                <li><input type="reset" value="Очистить форму" class="alt"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

            <footer>
                <ul id="copyright">
                    <li>&copy; MIT License </li><li>Разработано: <a href="https://boogiedk.ru">boogiedk.ru</a></li>
                </ul>
            </footer>
        </div>
    </div>
</article>

</body>
</html>